body{
	background: url(../img/bg2.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background.size: cover;
	-moz-background.size: cover;
	-o-background-size: cover;
	font-family: 'Noto Sans', sans-serif;
}
.about{
	width: 500px;
	margin: auto auto;
	text-align: center;
	/*margin-left: auto;
	margin-right: auto;
	text-align: center;
	*/
}
h1{
	color:white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}
h2{
	color:white;
	font-size: 18px;
	margin-top: 0;
}
p{
	color:white;
    background: gray;
    background-clip: content-box;
    box-shadow: 10px 10px 5px aqua;
}
}
.bio{
	color:white;
	font-size: 14px;
}
.me{
	height: 150px;
	width: 150px;
	border-radius: 100%;
	margin-top: 40px;	
}
